* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #01060a;
  color: white;
}
header {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
  height: 10%;
}
.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #06d2b9;
  border-radius: 20px;
  padding: 10px 15px;
  width: 150px;
  i {
    color: #06d2b9;
  }
}

.center1 {
  height: 90%;
  margin: 30px 50px;
}
.center1inner {
   background-image: url("assets/bgimg.png");
  background-size: cover;
  display: flex;
  height: 70%;
  justify-content: space-between;
}
.center1-Img {
  position: absolute;
  top: 13%;
  left: 35.5%;
}
.wecreate {
  color: #06d2b9;
  font-size: 30px;
}
.digital {
  margin-top: -40px;
  margin-left: -16px;
  font-size: 160px;
}
.hunters2 {
  margin-top: -52px;
  margin-left: -12px;
  font-size: 115px;
  color: #06d2b9;
}
.p1 {
  color: rgb(156, 154, 154);
  font-size: 28px;
}
.p2 {
  color: gray;
  font-size: 18px;
  margin-top: 15px;
}
.btns {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 50px;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding:10px 15px ;
  border-radius: 5px;
  background: linear-gradient(to left, #06d2b9, #06d2b9, black, black);
  color: white;
  font-size: 15px;
  border: 2px solid #06d2b9;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 17px;
  i {
    border: 1px solid #06d2b9;
    border-radius: 50%;
    padding: 5px 6px;
    font-size: 25px;
  }
}

.center1-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    p {
      font-size: 16px;
      color: rgb(156, 154, 154);
    }
    i {
      border: 1px solid #06d2b9;
      border-radius: 40%;
      padding: 10px;
      font-size: 30px;
      box-shadow: 1px 1px 10px 1px #06d2b9, inset 0px 0px 10px 1px #06d2b9;
      color: #06d2b9;
    }
  }
}

.center1-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 37, 40, 0.95);
  border-radius: 20px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: -30px;
  height: 210px;
  width: 93.5%;
  position: absolute;
}
.btext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.b1{
  /* border: 1px solid #000; */
  border-right: 1px solid gray;
  padding: 29px 50px;
  margin-left: -10px;
   h1 {
    color: #06d2b9;
  }
  p{
    font-size: 15px;
    color: rgb(156, 154, 154);
  }
}
.b2{
  /* border: 1px solid #000; */
  border-right: 1px solid gray;
  padding: 20px 50px;
   h1 {
    color: #06d2b9;
  }
  p{
    font-size: 15px;
    color: rgb(156, 154, 154);
  }
}
.b3{
  /* border: 1px solid #000; */
  border-right: 1px solid gray;
  padding: 20px 50px;
   h1 {
    color: #06d2b9;
  }
  p{
    font-size: 15px;
    color: rgb(156, 154, 154);
  }
}
.b4{
  padding: 20px 50px;
   h1 {
    color: #06d2b9;
  }
  p{
    font-size: 15px;
    color: rgb(156, 154, 154);
  }
}
.bimg1 {
  img {
    transform: skew(10deg, -20deg);
    margin-bottom: 20px;
  }
}
.bimg2 {
  img {
    margin-bottom: 20px;
  }
}







.page2 {
  height: 100%;
  margin:0px  50px;
    margin-top: -60px;
}
nav{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navcenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  margin-top: -20px;
  h3{
    color: #06d2b9;
  }
}
.navicon{
  display: flex;
  align-items: center;
  gap: 20px;
  i{
    border: 1px solid gray;
    color: gray;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
  }
  #rightarrow{
    border: 2px solid #06d2b9;
    color: #06d2b9;
  }
}

.parentbox{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 330px;
}
.box1{
  border: 2px solid #06d2b9;
  border-radius: 15px;
  height: 120%;
  width: 30%;
  background-color: #061013;
}
.img1{
  height: 70%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-image: url('assets/img1.png');
background-size:cover;
}
.img2{
  height: 70%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-image: url('assets/img2.png');
background-size:cover;
}
.img3{
  height: 70%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-image: url('assets/img3.png');
background-size:cover;
}
.boxpara{
  font-size: 15px;
  padding: 10px 20px 0px 20px;
  color: gray;
}
.boxicon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
  div{
    display: flex;
    gap: 20px;
  }
  i{
    font-size: 20px;
  }
}
 #rightarrow{
  padding: 10px;
    border: 2px solid #06d2b9;
    border-radius: 50%;
    color: #06d2b9;
  }

.ri-android-fill{
  color: #06d2b9;
}
.how{
  margin-top: 60px;
  text-align: center;
  span{
    color: #06d2b9;
  }
}

.box-center{
  margin-top: 20px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-center1{
  border: 1px solid #06d2b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 105%;
  width: 15%;
  i{
    border-radius: 50%;
    padding: 8px;
    color: #06d2b9;
    font-size: 30px;
    margin-top: 17px;
    align-self: flex-start;
    border: 1px solid #06d2b9;
  }
  h2{
    color: #06d2b9;
  }
  .textofbox{
    margin-top: 10px;
    font-size: 14px;
    p{
      font-size: 12px;
      margin-top: 10px;
      color: gray;
    }
  }
}
.box-center2{
  border: 1px solid #06d2b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 105%;
  width: 15%;
  i{
    border-radius: 50%;
    padding: 8px;
    color: #06d2b9;
    font-size: 30px;
    margin-top: 17px;
    align-self: flex-start;
    border: 1px solid #06d2b9;
  }
  h2{
    color: #06d2b9;
  }
  .textofbox{
    margin-top: 10px;
    font-size: 14px;
    p{
      font-size: 12px;
      margin-top: 10px;
      color: gray;
    }
  }
}
.box-center3{
  border: 1px solid #06d2b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 105%;
  width: 15%;
  i{
    border-radius: 50%;
    padding: 8px;
    color: #06d2b9;
    font-size: 30px;
    margin-top: 17px;
    align-self: flex-start;
    border: 1px solid #06d2b9;
  }
  h2{
    color: #06d2b9;
  }
  .textofbox{
    margin-top: 10px;
    font-size: 14px;
    p{
      font-size: 12px;
      margin-top: 10px;
      color: gray;
    }
  }
}
.box-center4{
  border: 1px solid #06d2b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  height: 105%;
  width: 15%;
  i{
    border-radius: 50%;
    padding: 8px;
    color: #06d2b9;
    font-size: 30px;
    margin-top: 17px;
    align-self: flex-start;
    border: 1px solid #06d2b9;
  }
  h2{
    color: #06d2b9;
  }
  .textofbox{
    margin-top: 10px;
    font-size: 14px;
    p{
      font-size: 12px;
      margin-top: 10px;
      color: gray;
    }
  }
}
.box-center5{
  border: 1px solid #06d2b9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 105%;
  width: 15%;
  i{
    border-radius: 50%;
    padding: 8px;
    color: #06d2b9;
    font-size: 30px;
    margin-top: 17px;
    align-self: flex-start;
    border: 1px solid #06d2b9;
  }
  h2{
    color: #06d2b9;
  }
  .textofbox{
    margin-top: 10px;
    font-size: 14px;
    p{
      font-size: 12px;
      margin-top: 10px;
      color: gray;
    }
  }
}



.bottom{
  margin: 0px auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
  background-image: url('assets/bg-img-bottom.png');
  background-size: cover;
  height:25%;
  border: 1px solid #06d2b9 ;
  border-radius: 10px;
  width: 95%;
  padding: 50px;
  justify-content: space-between;
}
.bottom-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  h1{
    line-height: 35px;
  }
  span{
  color: #06d2b9;
  }
  
}
.bottom-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
   background: linear-gradient(to left, #06d2b9, #06d2b9, black, black);
    border: 1px solid #06d2b9;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px 20px;
  }


  .bottom-right{
    width: 40%;
    height: 130%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bottom-right-left{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 20px;
  }
  .bottomlogo{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .bottompara{
    color: gray;
    font-size: 14px;
  }
  .bottomlogos{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    i{
      border: 1px solid gray;
      padding: 5px;
      font-size: 20px;
      border-radius: 50%;
    }
  }


  .bottom-right-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: gray;
    padding-left: 50px;
    border-left: 1px solid gray;
    div{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    i{
      font-size: 20px;
      color: #06d2b9;
    }
  }


  #telegramlogo{
    color:#06d2b9;
    border:1px solid #06d2b9;
  }


  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding: 20px 0px;
    color: gray;
    font-size: 13px;
    div{
      display: flex;
      align-items: center;
      gap: 70px;
      margin-right: 20px;
    }
    span{
      font-size: 15px;
    }
  }



  .line1{
    border-top: 2px dotted #06d2b9;
    width: 85px;
    position: absolute;
    left: 300px;
    bottom:-605px;
  }
  .line2{
    border-top: 2px dotted #06d2b9;
    width: 90px;
    position: absolute;
    left: 583px;
    bottom:-605px;
  }

  .line3{
    border-top: 2px dotted #06d2b9;
    width: 100px;
    position: absolute;
    left: 866px;
    bottom:-605px;
  }

  .line4{
    border-top: 2px dotted #06d2b9;
    width: 90px;
    position: absolute;
    left: 1150px;
    bottom:-605px;
  }
  .line{
    border-top: 3px solid #06d2b9;
    width: 50px;
    position: absolute;
    left: 497.5px;
    top:70px;  
    box-shadow: 0px -13px 30px 5px #06d2b9;
  }