
:root{
  --bg: #F5F2EF;
  --card-bg: #EDE8E4;
  --primary: #7B8567;
  --primary-dark: #656755;
  --heading: #1A1A1A;
  --text: #6E6E6E;
  --border: #D8D2CC;
  --pink: #E3B3B1;
  --cream: #E7E0D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-image: url('bgimg.jpg');
    background-size: cover;
}
nav{
    margin: 43px 50px 0px 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.logobtn{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 61%;
}
.logo{
    font-size: 55px;
    position: relative;
}
.navbtn{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    color: var(--primary-dark);
    background-color: yellow;
    height: 50px;
}
.btn{
    border: 3px solid #404135;
}
.btn:hover{
    color: #404135;
    background-color: red;
    padding: 10px;
}
.navlastbtn{
    font-size: 35px;
    display: flex;
    gap: 45px ;
    align-items: center;
}
.ri-menu-line{
    margin-top: 11px;
}
.ri-shopping-bag-line{
    
    position:relative;
}
.iconsup{
 background-color: var(--primary-dark);
 color: white;
 border-radius: 50%;
 padding: 1px 6px;
 position: absolute;
 transform: translateX(-13px);
 margin: 0px;
 font-size: 15px;
}
.dot{
    color: var(--primary-dark);
    font-size: 61px;
    position: absolute;
 transform: translate(-3px,-6px);
}